
body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#pic img:hover {
    opacity: .5;
    position: relative;
}

#pic{
    position: relative;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100px;
}
img {

    image-rendering: crisp-edges;
  }