.heading{
    text-emphasis:50px ;
    font-family: sans-serif;
    font-weight: bold;

}
#title{
    text-align: center;
}
/* .textbox{
    margin: 0px;
    box-align: initial;
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      } */
      
      input[type=submit] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* display: inline-block; */

      }
      
      input[type=submit]:hover {
        background-color: #45a049;

      }
      
      div {
        text-align: center;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        /* display: inline-block; */
      }
      .form input {
        display: inline-block;
		text-align: left;
		float: center;
      }